---
layout: default
---

<div class="home">
  <h1 class="page-heading">posts</h1>

  <ul class="post-list">
    {% for post in site.categories.post %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>


  <h1 class="page-heading">doodles</h1>

  <ul class="post-list">
    {% for post in site.categories.dohickie %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>


<!--   <h1 class="page-heading">highways</h1>

  <ul class="post-list">
    {% for post in site.categories.places %}
     <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> -->
<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
